# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

<files *.js>
SetOutputFilter DEFLATE
</files>


# EDIT php.ini
php_value upload_max_filesize 8M

# REWRITE
Options +FollowSymLinks
RewriteEngine On

#RewriteCond %{HTTP_HOST} ^(.*)20lin.es [NC]
#RewriteRule ^(.*)$ http://20lines.com/$1 [R=301,L]

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule .* index.php/$0 [PT,L]